<div class="navbar">
  <span>Create Category</span>
  <img src="/Assets/profile.jpg" alt="profile" />
</div>

<div class="category-container">
  <div class="category-card">
    <h2 class="category-title">Add Category</h2>

    <form method="POST" action="/category/create">
      <label>Name</label>
      <input
        type="text"
        name="name"
        class="form-input"
        placeholder="Category name..."
      />

      <div class="form-actions">
        <button class="btn-submit">ADD CATEGORY</button>
        <a href="/category" class="btn-back">BACK</a>
      </div>
    </form>
  </div>
</div>
