<!-- Footer Section -->
<footer class="main-footer">
  <div class="container footer-content">
    <div class="footer-top">
      <h3>
        Tetap Terhubung dengan Insight dan <br />
        Penawaran Eksklusif.
      </h3>
      <div class="newsletter-form">
        <input type="email" placeholder="Email" />
        <button class="btn btn-primary"><i class="bi bi-send-fill"></i></button>
      </div>
    </div>

    <div class="footer-middle">
      <div class="footer-col footer-left">
        <p>Green Office Park 9, BSD City, Tangerang Selatan 15345</p>
        <p>
          021-3456-887 <br />
          info@lably.com
        </p>
      </div>
      <div class="footer-col footer-mid">
        <h4>Lably</h4>
        <p>
          Kami hadir untuk mengeliminasi hambatan biaya dalam riset. Menyediakan
          akses mudah, cepat, dan terjamin mutu pada instrumen riset canggih.
        </p>
        <div class="icon-wrap">
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-tiktok"></i></a>
          <a href=""><i class="bi bi-youtube"></i></a>
        </div>
      </div>
      <div class="footer-col footer-right">
        <h4>Pages</h4>
        <a href="">Home</a>
        <a href="">Catalogue</a>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© 2025 LABLY CO | ALL RIGHTS RESERVED.</p>
    </div>
  </div>
</footer>
