<!-- Header Section -->
<header class="main-header">
  <div class="header-content">
    <a href="#" class="logo"> <span>Lab</span>Ly </a>
    <nav class="main-nav">
      <a href="#">Home</a>
      <a href="#">Catalogue</a>
    </nav>
    <div class="nav-icons">
      <a href="#"><i class="bi bi-bag-fill"></i></a>
      <a href="/login"><i class="bi bi-person-fill"></i></a>
    </div>
  </div>
</header>
