<% if (isLoggedIn) { %>
<!-- Header User -->
<header class="main-header">
  <div class="header-content">
    <a href="/" class="logo"> <span>Lab</span>Ly </a>

    <div id="mobile-menu-wrapper" class="mobile-menu-wrapper">
      <nav class="main-nav" id="main-nav">
        <a href="/">Home</a>
        <a href="/catalogue">Catalogue</a>
      </nav>
      <div class="nav-icons" id="nav-icons">
        <a href="/cart"><i class="bi bi-bag-fill"></i></a>
        <a href="<%= user && user.ktp_status === 'verified' ? '/dashboard-customer' : '/profile-customer' %>"><i class="bi bi-person-fill"></i></a>
      </div>
    </div>

    <button class="menu-toggle" id="menu-toggle" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>
  </div>
</header>
<% } else { %>
<!-- Header User -->
<header class="main-header">
  <div class="header-content">
    <a href="/" class="logo"> <span>Lab</span>Ly </a>

    <div id="mobile-menu-wrapper" class="mobile-menu-wrapper user">
      <nav class="main-nav log" id="main-nav">
        <a href="/">Home</a>
        <a href="/catalogue">Catalogue</a>
      </nav>
      <div class="nav-icons" id="nav-icons">
        <a href="/cart"><i class="bi bi-bag-fill"></i></a>
        <a href="/login"><i class="bi bi-person-fill"></i></a>
      </div>
    </div>

    <button class="menu-toggle" id="menu-toggle" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>
  </div>
</header>
<% } %> 