/* Container */
.auth-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Left gradient area */
.auth-left {
  flex: 1.2;
  background: url(../Assets/Background.png);
  background-size: cover;
  background-position: center;
  position: relative;

  padding: 4rem;
  color: var(--primary);
  border-radius: 0 3rem 3rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Tombol Back */
.btn-back {
  position: absolute;
  top: 4rem;
  left: 4rem;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  color: var(--primary);
  transition: all 0.5s ease;
}

.btn-back:hover {
  color: var(--btn-hover-blue);
}

.auth-content {
  text-align: left;
}

.auth-left h1 {
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.auth-left p {
  font-weight: 500;
  color: var(--base-black);
}

/* Right area (form) */
.auth-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3.5rem 4.5rem;
  justify-content: center;
  position: relative;
  background-color: var(--base-white);
}

.auth-right .btn-back {
  display: none;
}

.auth-right h2 {
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Form */
.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-group input {
  width: 100%;
  padding: 0.7rem 0.8rem;
  border: 1px solid #cfd8dc;
  border-radius: 6px;
  outline: none;
}

.input-group input:focus {
  border-color: var(--btn-hover-blue);
}

/* Button normal */
.btn-auth {
  width: 100%;
  padding: 0.8rem 0.9rem;
  font-weight: 600;
  color: var(--base-white);
  background: var(--primary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn-auth:hover {
  background: var(--btn-hover-blue);
}

.text-small {
  font-size: clamp(0.6rem, 2.5vw, 0.8rem);
  text-align: center;
  margin-top: 0.6rem;
}

.text-small a {
  color: var(--primary);
  font-weight: 600;
  transition: all 0.4s ease;
}

.text-small a:hover {
  color: var(--btn-hover-blue);
}

/* Popup notification */
.popup {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.6rem;
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  font-weight: 600;
  color: var(--base-white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.4s ease-out, fadeOut 0.4s ease-in 2.7s forwards;
  z-index: 9999;
}

.popup.success {
  background-color: #37a618;
}

.popup.error {
  background-color: #dc0000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 600px) {
  .auth-left {
    display: none;
  }

  .auth-right {
    background: url(../Assets/Background.png);
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .auth-right .btn-back {
    display: flex;
    top: 3rem;
    left: 2rem;
  }
}
