/* Container */
.auth-container {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

/* Left gradient area */
.auth-left {
    flex: 1.2;
    background: linear-gradient(135deg, #56a4ff, #b2f2bb);
    padding: 80px 60px;
    color: #0c2763;
    border-radius: 0 40px 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-left h1 {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
}

.auth-left p {
    font-size: 18px;
    margin-top: 5px;
}

/* Right area (form) */
.auth-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
    justify-content: center;
}

.auth-right h2 {
    font-size: 32px;
    color: #0c2763;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

/* Form */
.auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.input-group input {
    width: 100%;
    padding: 12px 14px;
    font-size: 16px;
    border: 1px solid #cfd8dc;
    border-radius: 6px;
    outline: none;
}

.input-group input:focus {
    border-color: #1a73e8;
}

/* Button normal */
.btn-auth {
    width: 106%;
    padding: 12px 14px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #133b8c;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-auth:hover {
    background: #0b2c72;
}

.auth-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 5px 0;
    width: 106%;
}

.auth-separator span {
    margin: 0 12px;
    font-size: 14px;
    color: #555;
}

.auth-separator::before,
.auth-separator::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #cfd8dc;
}

/* Button Google */
.btn-google {
    width: 106%;
    padding: 12px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #e0e0e0;
}

.btn-google img {
    width: 22px;
    height: 22px;
}

.text-small {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.text-small a {
    color: #133b8c;
    font-weight: 600;
}
