#ewallet-container, #ewallet-container * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#ewallet-container .container{
    margin: 20px auto;
    background-color: rgb(245, 248, 248);
    width: 300px;
    height: calc(100vh - 40px);
    border-radius: 10px;
    overflow: hidden;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08), 0 2px 6px rgba(0, 0, 0, 0.05);
}

#ewallet-container .title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 1px 4px -1px rgba(0, 0, 0, 0.06);
}

#ewallet-container .title h2{
    font-size: 14px;
    font-weight: 600;
}

#ewallet-container .title a{
    position: absolute;
    left: 12px;
}

#ewallet-container .text1 h2{
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    margin: auto 30px;
    border-radius: 5px;
    background-color: rgba(62, 168, 255, 0.37);
    border: 1px solid rgba(0, 140, 255, 0.37);
    margin-top: 15px;
    font-size: 11px;
}

#ewallet-container .text1 p{
    font-size: 10px;
    text-align: center;
    margin: auto 30px;
    margin-top: 5px;
}

#ewallet-container .cost{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: auto 15px;
    border-bottom: 1px dashed rgb(104, 104, 104);
    margin-top: 15px;
    padding-bottom: 10px;
}

#ewallet-container .cost p{
    font-size: 10px;
    color: rgb(51, 51, 51);
}

#ewallet-container .cost h2{
    font-size: 20px;
    color: rgb(0, 89, 255);
}

#ewallet-container .e-wallet{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#ewallet-container .e-wallet .options{
    margin: auto 15px;
    height: 45px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border: none;
    position: relative;
    cursor: pointer;
}

#ewallet-container .e-wallet .options:hover{
    transform: scale(1.05);
    transition: all 0.2s ease;
}

#ewallet-container .e-wallet .dana img,
#ewallet-container .e-wallet .shopeepay img,
#ewallet-container .e-wallet .ovo img,
#ewallet-container .e-wallet .gopay img{
    width: 45px;
}

#ewallet-container .e-wallet .options i{
    position: absolute;
    right: 10px;
}

#ewallet-container .text2{
    margin: auto 15px;
    background-color: rgba(62, 168, 255, 0.37);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

#ewallet-container .text2 i{
    color: rgb(0, 89, 255);
    font-size: 25px;
}

#ewallet-container .text2 p{
    font-size: 10px;
}

#ewallet-container .border{
    margin: auto 15px;
    margin-top: 15px;
    border-top: 1px dashed rgb(104, 104, 104);
}

#ewallet-container .cancel{
    margin: auto 15px;
    margin-top: 10px;
    width: calc(300px - 30px);
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 153, 0);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

#ewallet-container .button .cancel:hover{
    box-shadow: 0 8px 20px rgba(255, 153, 0, 0.45),
                0 3px 6px rgba(255, 251, 0, 0.25);
    transform: translateY(-1px);
    transition: all 0.2s ease;
}

#ewallet-container .button .cancel:active{
    box-shadow: 0 2px 6px rgba(0, 89, 255, 0.3);
    transform: translateY(1px);
}
