.form-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.left {
  flex: 0.5;
  background: url(../Assets/Background.png);
  background-size: cover;
  background-position: center;
  position: relative;

  padding: 4rem;
  color: var(--primary);
  border-radius: 0 3rem 3rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.btn-back {
  position: absolute;
  top: 4rem;
  left: 4rem;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  color: var(--primary);
  transition: all 0.5s ease;
}

.btn-back:hover {
  color: var(--btn-hover-blue);
}

.left-detail {
  text-align: left;
}

.left-detail h1 {
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.left-detail p {
  font-weight: 500;
  color: var(--base-black);
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3.5rem 4.5rem;
  justify-content: center;
  position: relative;
}

.logo {
  display: flex;
  position: absolute;
  top: 4rem;
  right: 4rem;
  color: var(--btn-hover-blue);
  font-weight: 600;
}

.logo span {
  color: var(--primary);
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: var(--primary);
}

.form-section p {
  font-weight: 600;
  margin-top: 2rem;
}

.form-section .grid {
  display: flex;
  justify-content: space-between;
}

.form-section .grid input {
  width: 49%;
  padding: 0.8rem 1rem;
  border: 2px solid var(--primary);
  border-radius: 8px;
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  box-shadow: 0 2px 5px rgb(211, 211, 211);
}

.form-section .grid-2 input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  font-size: clamp(0.9rem, 1.2vw, 1rem);
  box-shadow: 0 2px 5px rgb(211, 211, 211);
}

.btn-next {
  margin-top: 3rem;
  float: right;
  padding: 1rem 1.5rem;
  background-color: var(--secondary);
  color: var(--base-white);
  border: none;
  border-radius: 0.7rem;
  font-size: clamp(0.8rem, 1.2vw, 0.9rem);
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  font-weight: 600;
  box-shadow: 0 2px 5px rgb(211, 211, 211);
  transition: all 0.4s ease;
}

.btn-next:hover {
  background-color: var(--btn-hover-orange);
}

@media (max-width: 1024px) {
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .left {
    flex: none;
    width: 100%;
    height: auto;
    border-radius: 0 0 2rem 2rem;
    padding: 0 4.5rem;
    align-items: center;
    text-align: center;
    height: 60%;
  }

  .left-detail h1 {
    font-size: clamp(1.5rem, 3vw, 1.8rem);
    font-weight: 700;
    margin-bottom: 0.6rem;
    text-align: center;
  }

  .left-detail p {
    font-size: clamp(0.7rem, 3vw, 0.9rem);
    text-align: center;
  }

  .right {
    position: relative;
    top: 20px;
    padding: 0 4.5rem 3rem 4.5rem;
  }

  .logo {
    display: none;
  }

  .form-section .grid-2 input,
  .form-section .grid input {
    font-size: 0.7rem;
  }

  .btn-back {
    top: 2.5rem;
    left: 4rem;
  }
}

@media (max-width: 600px) {
  .left {
    padding: 2rem 3rem;
    height: 50%;
    border-radius: 0 0 1.5rem 1.5rem;
    background-position: center;
  }

  .btn-back {
    top: 2rem;
    left: 2rem;
    font-size: clamp(0.7rem, 3vw, 0.9rem);
  }

  .left-detail h1 {
    font-size: clamp(1.2rem, 3vw, 1.3rem);
  }

  .left-detail p {
    font-size: clamp(0.7rem, 3vw, 0.75rem);
  }

  .right {
    padding: 2rem 3rem 3rem 3rem;
    top: 10px;
  }

  .form-section {
    gap: 0.4rem;
  }

  .form-section p {
    margin-top: 1.2rem;
    font-size: clamp(0.8rem, 2.5vw, 0.9rem);
  }

  .form-section .grid {
    flex-direction: column;
    gap: 0.8rem;
  }

  .form-section .grid input,
  .form-section .grid-2 input {
    width: 100%;
    font-size: clamp(0.7rem, 3vw, 0.75rem);
  }

  .btn-next {
    width: 100%;
    justify-content: center;
    padding: 0.9rem 1rem;
    font-size: 0.8rem;
    margin-top: 2rem;
  }
}
