/* --- Hero Section --- */
.hero-section {
  background: url(../Assets/Background.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 0;
  position: relative;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6rem;
  height: 100vh;
}

.hero-text {
  width: 40vw;
  color: var(--color-text-light);
}

.hero-text h1 {
  margin-bottom: 15px;
  color: var(--primary);
}

.hero-text p {
  margin-bottom: 2.5rem;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.5;
}

.hero-image {
  max-width: 100vw;
  width: auto;
  height: 85vh;
}

/* --- Why Section --- */
.why-section {
  background-color: var(--primary);
  padding: 6.5rem 0;
}

.why-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
}

.wrap {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-right: 2rem;
  border-right: var(--base-white) solid 1px;
}

.wrap .bi {
  font-size: 2.5rem;
  color: var(--base-white);
}

.wrap-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--base-white);
}

.wrap-content h3 {
  font-weight: 600;
}

.wrap:last-child {
  padding-right: 0;
  border-right: none;
}

/* --- Catalogue Section --- */
.catalogue-content {
  padding: 8rem 0;
}

.type-product-wrap {
  display: flex;
  justify-content: space-between;
}

.type-product-box {
  display: flex;
  align-items: center;
  background-color: var(--background-product);
  border-radius: 1rem;
  padding: 3rem 2rem;
  gap: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 33rem;
  width: 100%;
}

.type-product-box img {
  height: auto;
  max-width: 10rem;
  width: 100%;
}

.type-product-box .type-product-content h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 1rem;
  line-height: 1.3;
}

.type-product-box .type-product-content p {
  color: var(--color-secondary);
  padding-bottom: 0.5rem;
}

.type-product-box .type-product-content a {
  display: inline-block;
  padding-top: 0.8rem;
  color: var(--secondary);
  font-weight: 600;
  transition: all 0.3s ease;
}

.type-product-box .type-product-content a:hover {
  color: var(--btn-hover-orange);
}

.catalogue-content h2 {
  text-align: center;
  padding: 3.8rem 0 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary);
}

.catalogue-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}

.catalogue-filter .filter {
  display: flex;
  gap: 1rem;
}

.catalogue-filter .filter a {
  color: var(--primary);
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border: var(--primary) solid 2px;
  border-radius: 5rem;
  transition: all 0.3s ease;
}

.catalogue-filter .filter a:hover {
  background-color: var(--primary);
  color: var(--base-white);
}

.catalogue-filter a {
  color: var(--secondary);
  font-weight: 600;
}

.catalogue-filter a:hover {
  color: var(--btn-hover-orange);
}

.catalogue-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;
}

.catalogue-item {
  background-color: var(--background-product);
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.item-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.item-img img {
  width: 50%;
  height: auto;
  border-radius: 8px;
}

.item-name {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--primary);
}

.item-price {
  font-weight: 500;
  margin-top: 5px;
}

/* --- Pro Section --- */
.pro-section {
  background-color: var(--primary);
  padding: 3rem 0;
}

.pro-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-items: center;
  color: var(--base-white);
}

.pro-content h3 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.pro-text p {
  line-height: 1.5;
  text-align: justify;
  padding-bottom: 2rem;
}

.btn {
  display: inline-flex;
}

/* --- Advantage Section --- */
.advantage-section {
  padding: 6rem 0;
  background-image: var(--background-gradient);
}

.reason-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reason-content h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
  padding-bottom: 1.5rem;
}

.reason-content p {
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
  line-height: 1.5;
  color: var(--color-secondary);
  text-align: center;
}

.reason-card-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-top: 2rem;
}

.reason-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}

.reason-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0 auto;
}

.reason-card .bi {
  font-size: 2rem;
  color: var(--base-white);
  transition: all 0.5s ease;
}

.reason-card h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--primary);
  padding-top: 1.5rem;
}

.reason-card p {
  color: var(--color-secondary);
  font-size: 1rem;
  padding-top: 1rem;
}

.banner-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0;
  margin-top: 3rem;
  background-color: var(--background-product);
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.banner-image {
  overflow: hidden;
  flex-shrink: 0;
  flex-basis: 40%;
  border-radius: 1rem;
  line-height: 0;
}

.banner0-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.banner-content {
  flex-basis: 60%;
  padding: 2rem;
}

.banner-content h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
  padding-bottom: 1rem;
}

.banner-content p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  padding-bottom: 2rem;
}
