<div class="card-container">
  <div class="status-icon">
    <img src="./Assets/Accept.png" alt="Accept-Icon" />
  </div>
  <div class="content">
    <h1 class="title">Payment Success!</h1>
    <p class="message">It our pleasure to offer you<br />our products</p>
  </div>
  <div class="button-wrap">
    <a href="/catalogue" class="btn bck-shop">Back Shop</a>
    <a href="/order-user" class="btn cntn-button">See Order</a>
  </div>
</div>
