<!-- Hero Section -->
<section class="hero-section">
  <div class="container hero-content">
    <div class="hero-text">
      <h1>Kami Hadir Untuk Membantu Penelitianmu</h1>
      <p>
        Solusi akses peralatan riset terbaik tanpa komitmen investasi permanen.
        Kami menyediakan instrumen laboratorium terbaik, memastikan dukungan
        efisien dan terjamin untuk setiap proyek ilmiah dan pengembangan produk
        Anda.
      </p>
      <a href="#" class="btn btn-primary">
        Pinjam Sekarang
        <i class="bi bi-arrow-right-circle-fill"></i>
      </a>
    </div>
    <div class="hero-image">
      <img src="./Assets/Mickroscope.png" alt="Mikroscope" />
    </div>
  </div>
</section>

<!-- Why Section -->
<section class="why-section">
  <div class="why-container">
    <div class="wrap">
      <i class="bi bi-beaker"></i>
      <div class="wrap-content">
        <h3>Alat Terbaik & Terjamin Mutu</h3>
        <p>
          Seluruh alat terawat dan berfungsi baik. Riset akurat Anda adalah
          prioritas kami.
        </p>
      </div>
    </div>
    <div class="wrap">
      <i class="bi bi-lightning"></i>
      <div class="wrap-content">
        <h3>Proses Digital & Respons Cepat</h3>
        <p>
          Peminjaman secara online. Cek ketersediaan instan dan lakukan
          peminjaman dengan cepat.
        </p>
      </div>
    </div>
    <div class="wrap">
      <i class="bi bi-people"></i>
      <div class="wrap-content">
        <h3>Layanan Terpersonalisasi & Cepat</h3>
        <p>
          Konsultasi untuk pertanyaan teknis atau konfirmasi alat. Dukungan
          khusus sesuai kebutuhan riset Anda.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Catalogue Section -->
<section>
  <div class="container catalogue-content">
    <div class="type-product-wrap">
      <div class="type-product-box">
        <img src="./Assets/Incubator-CO2.png" alt="Incubator CO2" />
        <div class="type-product-content">
          <p>Type</p>
          <h3>Biologi & Ilmu Hayati</h3>
          <a href="">See More</a>
        </div>
      </div>
      <div class="type-product-box">
        <img src="./Assets/Spektrofotom.png" alt="Spektrofotom" />
        <div class="type-product-content">
          <p>Type</p>
          <h3>Kimia & Ilmu Material</h3>
          <a href="">See More</a>
        </div>
      </div>
    </div>

    <h2>Catalogue</h2>

    <div class="catalogue-filter">
      <div class="filter">
        <a href="">Best Items</a>
        <a href="">Availability</a>
        <a href="">Type</a>
      </div>
      <a href="">See More</a>
    </div>

    <div class="catalogue-grid">
      <div class="catalogue-item">
        <div class="item-img">
          <img src="./Assets/Mickroscope.png" alt="" />
        </div>
        <p class="item-name">Binokuler</p>
        <p class="item-price">IDR 1.000.000</p>
      </div>
      <div class="catalogue-item">
        <div class="item-img">
          <img src="./Assets/Mickroscope.png" alt="" />
        </div>
        <p class="item-name">Lysis</p>
        <p class="item-price">IDR 650.000</p>
      </div>
      <div class="catalogue-item">
        <div class="item-img">
          <img src="./Assets/Mickroscope.png" alt="" />
        </div>
        <p class="item-name">Reaktor</p>
        <p class="item-price">IDR 2.000.000</p>
      </div>
      <div class="catalogue-item">
        <div class="item-img">
          <img src="./Assets/Mickroscope.png" alt="" />
        </div>
        <p class="item-name">Binokuler Pro</p>
        <p class="item-price">IDR 1.500.000</p>
      </div>
      <div class="catalogue-item">
        <div class="item-img">
          <img src="./Assets/Mickroscope.png" alt="" />
        </div>
        <p class="item-name">Razor</p>
        <p class="item-price">IDR 900.000</p>
      </div>
      <div class="catalogue-item">
        <div class="item-img">
          <img src="./Assets/Mickroscope.png" alt="" />
        </div>
        <p class="item-name">Trunity</p>
        <p class="item-price">IDR 1.150.000</p>
      </div>
    </div>
  </div>
</section>

<!-- Pro Section -->
<section class="pro-section">
  <div class="container pro-content">
    <h3>Riset Canggih, Akses Mudah</h3>
    <div class="pro-images">
      <img src="./Assets/double-photo.png" alt="Chemistry" />
    </div>
    <div class="pro-text">
      <p>
        Akses cepat untuk instrumen lab terbaik dan mendorong penelitian serta
        penemuan dengan biaya investasi yang terbatas.
      </p>
      <a href="#" class="btn btn-primary">
        Catalog Kami
        <i class="bi bi-arrow-right-circle-fill"></i>
      </a>
    </div>
  </div>
</section>

<!-- Advantage Section -->
<section class="advantage-section">
  <div class="container reason-content">
    <h2>Langkah Mudah Untuk Peminjaman Alat Riset</h2>
    <p>
      Solusi cepat dan terpercaya untuk mendapatkan instrumen <br />penelitian
      yang Anda butuhkan.
    </p>

    <div class="reason-card-wrap">
      <div class="reason-card">
        <div class="reason-icon"><i class="bi bi-cash-stack"></i></div>
        <h3>Efisiensi Biaya Riset</h3>
        <p>
          Bayar seperlunya, maksimalkan anggaran riset Anda tanpa perlu
          mengeluarkan banyak biaya.
        </p>
      </div>
      <div class="reason-card">
        <div class="reason-icon"><i class="bi bi-arrow-repeat"></i></div>
        <h3>Fleksibilitas Durasi Sewa</h3>
        <p>
          Pilihan sewa harian, mingguan, hingga bulanan. Sesuaikan kebutuhan
          spesifik penelitian Anda.
        </p>
      </div>
      <div class="reason-card">
        <div class="reason-icon"><i class="bi bi-lightbulb-fill"></i></div>
        <h3>Akses Pengetahuan Ahli</h3>
        <p>
          Dapatkan panduan penggunaan dan troubleshooting langsung dari teknisi
          bersertifikat kami.
        </p>
      </div>
    </div>
  </div>

  <div class="container banner-section">
    <div class="banner-image">
      <img src="./Assets/Banner.jpg" alt="Scientist" />
    </div>
    <div class="banner-content">
      <h3>Kami Hadir Untuk Membantu Penelitianmu</h3>
      <p>
        Kami hadir sebagai mitra terpercaya Anda untuk mengatasi hambatan
        investasi alat. Dapatkan akses ke instrumen laboratorium terbaik, tanpa
        perlu komitmen modal yang berat. Kami menyediakan platform yang
        sederhana dan efisien, sehingga Anda bisa sepenuhnya mendedikasikan
        waktu Anda untuk penemuan ilmiah.
      </p>
      <a href="#" class="btn btn-primary">
        Hubungi Kami
        <i class="bi bi-arrow-right-circle-fill"></i>
      </a>
    </div>
  </div>
</section>
