<div class="card-root">

  <div class="container">

    <div class="title">
      <a href="">
        <i class="bi bi-chevron-left"></i>
      </a>

      <h2><span class="lab">Lab</span><span class="ly">Ly</span></h2>

      <span>Credit Card</span>
    </div>

    <div class="cost">

      <div class="amount-row">
        <div>
          <p>Total Payment</p>
        </div>

        <div>
          <h2>
            Rp <%= Number(subtotal).toLocaleString('id-ID') %>
          </h2>
        </div>
      </div>

    </div>

    <div class="card-form">

      <input
        type="text"
        id="card-number"
        maxlength="16"
        placeholder="Card Number"
      >

      <div class="card-row">

        <div class="field">
          <input
            type="password"
            maxlength="6"
            placeholder="PIN"
          >
        </div>

        <div class="field">
          <input
            type="password"
            maxlength="3"
            placeholder="CVV"
          >
        </div>

      </div>

    </div>

    <div class="secure-payment">

      <p>Secure Payment</p>

      <img
        src="/Assets/card.png"
        alt="Payment Methods"
      >

    </div>

    <div class="cardholder-section">

      <label>Cardholder Name</label>

      <input
        type="text"
        id="card-holder"
        readonly
        placeholder="Cardholder Name"
      >

    </div>

    <div class="invoice">
      <p><%= invoiceNumber %></p>
    </div>

    <div class="button">
      <button
        type="button"
        id="card-paid-btn">
        Confirm
      </button>
    </div>

  </div>

</div>

<script>

const cardNumber =
document.getElementById("card-number");

const cardHolder =
document.getElementById("card-holder");

if(cardNumber){

  cardNumber.addEventListener("input",()=>{

    const numbers =
      cardNumber.value.replace(/\D/g,'');

    if(numbers.length === 16){

      cardHolder.value =
        "<%= user.username %>";

    }else{

      cardHolder.value = "";

    }

  });

}

</script>